<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elective.cuisina">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp">
        <activity android:name=".FruitsActivity"></activity>
        <activity android:name=".EventEditActivity" />
        <activity android:name=".WeekViewActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Clock_Alarm"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainFoodStocksActivity"
            android:screenOrientation="locked" />

        <receiver android:name=".clockpackage.AlertReceiver" />

        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="locked" />
    </application>

</manifest>